<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.clubddaegu_admin.repository.yido.CommonMapper">


	<select id="sendSms" statementType="CALLABLE" parameterType="hashmap">
		{ CALL SP_DAEGU_CLOSE_SMS_SEND (
			#{hpNo}
			<if test="tplCd == null">, ''</if>
			<if test="tplCd != null">, #{tplCd}</if>
			<if test="sendMsg == null">, (SELECT CONTENT FROM SMS_TEMPLATE WHERE CO_DIV = #{coDiv} AND TPL_CODE = #{tplCd})</if>
			<if test="sendMsg != null">, #{sendMsg}</if>
			, 'HOMEPAGE'
			) }
	</select>

</mapper>